**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*_latexmk
**/*.fls
**/*.log
**/*.nav
**/*.out
**/*.vrb
**/*.xml
**/*.snm
**/*.gz
**/*.toc
**/.directory
**/*ipynb_checkpoints*
**/*jupyter*
**/*.synctex(busy)
**/_minted*
**/*__pycache__*
**/*SAVE-ERROR
